body {
    font-family: 'Acme';font-size: 22px;
}

div.container {
    position: absolute;
    top: 10%;
    height: auto;
}

#weather-initial {
    background-color: #143583;
    box-shadow: 0px 0px 70px white;
    min-height: 500px;
    opacity: 0.8;
    left: 70%;
}

#weather-initial div.row {
    background-color: white;
}

#weather-main {
    position: absolute;
    top: 0%;
    bottom: 50%;
}

.weather-main-text {
    padding-top: 20%;
    padding-right: 10%;
}

.weather-initial-list {
    margin-bottom: 10px;
    background-color: white;
}

#form-submit {
    margin-top: 10px;
}